$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  laptop: $laptop,
  desktop: $desktop,
);

:export {
  mobile: $mobile;
  tablet: $tablet;
  laptop: $laptop;
  desktop: $desktop;
}
