@use 'breakpoints' as *;

@mixin respond-to($key) {
    $size: map-get($breakpoints, $key);

    @if ($key == laptop or $key == desktop) {
        @media only screen and (min-width: $size) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $size) {
            @content;
        }
    }
}

@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @content;
    }
}

@mixin bg {
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@mixin bg2 {
    background-image: url('/assets/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@mixin bg3 {
    background-image: url('/assets/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
