// Colors
$primary: #257a7a;
$secondary: #61cc90;
$error: #e57373;
$black: #080808;
$white: #fcfcfc;

// Fonts
$fontBody: 'Montserrat';
$fontBodyFallback: 'sans-serif';
$fontHeading: 'Montserrat';
$fontFaceUrl: 'scss/font/Montserrat-Thin.ttf';

// Fluid typography
$min_width: 480px;
$max_width: 1440px;
$min_font: 12px;
$max_font: 16px;
$pref_font: 14px;

:export {
    primary: $primary;
    secondary: $secondary;
    black: $black;
    white: $white;
    error: $error;
    fontBody: $fontBody;
    fontBodyFallback: $fontBodyFallback;
    fontHeading: $fontHeading;
    fontFaceUrl: $fontFaceUrl;
}
