@use '../abstract' as *;

.dashboard {
    height: 100vh;
    padding-top: 20vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
}
