@use '../abstract' as *;

.home {
    height: 100vh;
    max-height: 100vh;
    position: relative;
    padding-top: 50vh;

    .container {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
    }
}

.bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
}
