@use "../abstract" as *;

.profile {
    min-height: 100vh;
    background: linear-gradient(180deg, #ffffff 50%, #333333 50%);

    .card {
        padding: 4em 6em;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px,
            rgba(0, 0, 0, 0.1) 0px 2px 6px;
        background-color: #ffffff;
        border: 0.5px solid #000000;

        .row {
            display: flex;
            .col {
                width: 60%;
            }
            .col-profile {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
