@use '../abstract' as *;

.profile {
  height: 100vh;
  align-items: end;
  padding-bottom: 0;

  @include bg;

  &::after {
    background: linear-gradient(
      180deg,
      transparent 60%,
      rgba($color: $black, $alpha: 0.9) 40%
    );
  }

  .card {
    background-color: #fff;
    height: 82vh;
    display: flex;

    .col {
      &.left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 6em;

        .avatar-upload {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .overlay {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 400ms ease;
          }

          input {
            position: absolute;
            opacity: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            cursor: pointer;
          }
        }

        .avatar-upload:hover {
          .overlay {
            opacity: 1;
          }
        }

        .divider {
          background-color: rgba($color: $black, $alpha: 0.2);
          width: 100%;
          height: 1px;
          margin: 1em 0 2em;
        }
        .block {
          width: 100%;
          display: flex;

          &.name {
            margin-top: 1em;
            align-items: center;
            justify-content: center;
          }
          &.detail {
            width: 16em;
            margin-bottom: 1em;
            align-items: center;
          }
          p {
            margin-left: 1em;
          }
        }
      }
      &.right {
        width: 60%;
        max-height: 100%;
        background-color: rgba($black, 0.1);
      }
    }
  }
  .logout-btn {
    margin-top: auto;
  }
}
