.registration_page{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: rgba(13, 13, 13, 0.95);
}
.person-design-symbol{
    position: absolute;
    width: 244px;
    height: 286px;
    left: 1756px;
    top: 864px;
}
.design-building-symbol{
    position: absolute;
    width: 338px;
    height: 338px;
    left: -57px;
    top: -55px;
    
}
.logo{
    position: absolute;
    width: 371px;
    height: 328px;
    left: 146px;
    top: 390px;
    
}
.design-dollar{
    position: absolute;
    width: 328px;
    height: 328px;
    left: -141px;
    top: 679px;
}
#registration-menu{
    position: absolute;
    width: 1002px;
    height: 966px;
    left: calc(50% - 1002px/2 + 148px);
    top: calc(50% - 966px/2 + 21px);

    background: #60B07F;
    opacity: 0.85;
    box-shadow: 20px 20px 10px rgba(37, 122, 122, 0.3);
    border-radius: 10px;
}
.back-button{
    position: absolute;
    width: 121px;
    height: 60px;
    left: 22px;
    top: 60px;
}
.back-button-text{
    position: absolute;
    width: 73px;
    height: 38px;
    left: 70px;
    top: 71px;
    
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #37B5B5;
}
.back-button-outline{
    position: absolute;
    width: 73px;
    height: 38px;
    left: 70px;
    top: 71px;
    
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #37B5B5;
}
.line12{
    position: static;
    width: 650px;
    height: 0px;
    left: 10px;
    top: 150px;
    border: 4px solid #37B5B5;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -20px 0px;
}
.registration{
    position: static;
    width: 475px;
    height: 100px;
    left: 10px;
    top: 10px;

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.95);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
}
.registration-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    width: 670px;
    height: 160px;
    left: 176px;
    top:-30px;
}
.register-form{
    position: absolute;
    width: 668.21px;
    height: 601.34px;
    left: 176px;
    top: 229.96px;

}
.form-info{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    left: 10px;
    top: 10.23px;

    border: 1px solid rgba(24, 24, 24, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
}
.firstname{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    left: 10px;
    top: 10.23px;
}
.Address{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    left: 10px;
    top: 134.5px;
}
.Postal-code{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    left: 10px;
    top: 258.77px;
}
.City{
    position: absolute;
    width: 364px;
    height: 84px;
    left: 10px;
    top: 383.04px;
}
.Province{
    position: absolute;
    width: 252px;
    height: 84px;
    left: 405px;
    top: 383.04px;

    border: 1px solid rgba(24, 24, 24, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
}
.form_info{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    border: 1px solid rgba(24, 24, 24, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.3);
}

.form_info-1{
    position: absolute;
    width: 348.21px;
    height: 84.27px;
    border: 1px solid rgba(24, 24, 24, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.3);
}
.form_info-2{
    position: absolute;
    width: 250px;
    height: 84.27px;
    border: 1px solid rgba(24, 24, 24, 0.95);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.3);
}
.Already-register{
    position: absolute;
    width: 465px;
    height: 38px;
    left: 176px;
    top: 898.04px;

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #257A7A;
}
.Already-register_signin{
    position: absolute;
    width: 465px;
    height: 38px;
    left: 176px;
    top: 898.04px;

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}
.login-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 75px;

    position: static;

    position: absolute;
    width: 392px;
    left: calc(50% - 392px/2 - 129px);
    top: 77.33%;
    bottom: 11.18%;

    background: #37B5B5;
    border-radius: 60px;

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 75px;
    color: rgba(255, 255, 255, 0.95);

   
}
.back-button{
    position: absolute;
    width: 121px;
    height: 60px;
    left: 22px;
    top: 60px;

}
.password{
    position: absolute;
    width: 648.21px;
    height: 84.27px;
    left: 10px;
    top: 352.8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 40px 0px;
}