@use '../abstract' as *;

#bold {
    display: inline;
    font-weight: bold;
}

#amount {
    float: right;
}

#amount-header {
    float: right;
    font-weight: bold;
}

.top-info {
    margin-top: 100px;
    margin-bottom: 260px;

    .titles {
        /*border: 1px solid rgb(0, 0, 0);*/
        float: left;
        width: 30%;
        padding: 5px;
    }

    .pay-info {
        /*border: 1px solid rgb(0, 0, 0);*/
        float: right;
        display: block;
        padding: 5px;
        width: 20%;
    }

    .period {
        padding-top: 10px;
    }

    .site {
        /*border: 1px solid rgb(0, 0, 0);*/
        float: right;
        display: block;
        padding: 5px;
        width: 15%;
    }
}

.earnings,
.deductions {
    /*border: 1px solid rgb(0, 0, 0);*/
    p {
        display: inline;
    }
    width: 50%;
    padding: 5px;
    margin-bottom: 60px;
}

.payout {
    p {
        display: inline;
    }
    width: 50%;
    padding: 5px;
    margin-top: 60px;
}
