.main-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    .issue-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;

        .report-container {
            width: 25%;
            height: 55%;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 0.5em;

            .line-spacing {
                background-color: #257a7a;
                height: 3px;
                width: 100%;
            }

            .report-nav {
                width: 95%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 50px;

                h3 {
                    font-family: Inter, sans-serif;
                    font-size: 1.1em;
                    font-weight: 400;
                    text-align: left;
                }
            }

            .issue-text-container {
                padding-top: 2em;
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-family: Inter, sans-serif;
                    font-size: 1em;
                    font-weight: 400;
                    margin-bottom: 1em;
                }
            }

            .issue-btn {
                margin-top: 1.5em;
                height: 15%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                Button {
                    height: 100%;
                    width: 20%;
                    margin-right: 15px;
                }
            }
        }
    }

    .nav-container {
        width: 100%;
        height: 13%;
        background-color: #505050;
        display: flex;
        z-index: 1;

        .logo {
            height: 100%;
            width: 15%;
            display: flex;
            align-items: center;
            margin-left: 5em;

            img {
                width: 50%;
                height: 50%;
            }
        }

        .nav-link {
            height: 100%;
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            Button {
                font-family: Raleway, sans-serif;
                font-size: 1em;
                width: 8em;
                color: #ffffff;
            }
        }
    }

    .payroll {
        width: 100%;
        height: 87%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .payroll-container {
            width: 90%;
            height: 80%;
            display: flex;

            .payroll-info {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding-left: 3em;

                Button {
                    margin-top: 3em;
                    background-color: #257a7a;
                    border-radius: 2em;
                    padding: 0.5em 1.2em 0.5em 1.2em;
                }
            }

            .payroll-table {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}
