@use '../abstract' as *;
@use 'react-big-calendar/lib/sass/styles';

.rbc-toolbar {
  font-size: 1em;
}

.rbc-event {
  background-color: $primary;

  &.rbc-selected {
    background-color: rgba($color: $primary, $alpha: 0.8);
  }
}
