@use '../abstract' as *;

.nav {
	background-color: $black;
	color: #fff;
	height: 15vh;
	position: fixed;
	top: 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.button-cont {
			.button {
				margin-left: 1em;
			}
		}
	}
}
