@use '../abstract' as *;

.nav {
    background-color: rgba($color: $black, $alpha: 0.9);
    color: #fff;
    height: 15vh;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: rgba($color: $black, $alpha: 0.1) 0px 8px 24px;

    .hamburger-icon {
        display: none;
    }
    .logo-cont {
        display: flex;
        align-items: center;
    }
    .hello {
        margin-top: 0.1em;
        margin-left: 2em;
    }

    .nav-links {
        display: flex;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: auto;
        max-height: 4em;
    }
    .button {
        color: $white;
        margin-left: 1em;
        padding-bottom: 0.25em;
        border-bottom: 2px solid transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: color 800ms ease, border-color 800ms ease;

        &:hover {
            color: lighten($primary, 15%);
            background-color: transparent;
            border-color: lighten($primary, 15%);
            transition: color 400ms ease, border-color 400ms ease;
        }
        &.active {
            color: lighten($primary, 15%);
            border-color: lighten($primary, 15%);
        }
    }
    .logout-btn {
        color: rgba($color: $white, $alpha: 0.5);
    }
    .notif-btn {
        padding: 0;
        margin-left: 0.5em;
        border-bottom: 0px;
    }
    @media print {
        display: none;
    }

    @include respond-to('mobile') {
        .hamburger-icon {
            display: flex;
        }

        .nav-links {
            border-radius: 0.5em;
            position: fixed;
            top: 10%;
            right: 10%;
            background-color: $black;
            display: flex;
            flex-direction: column;
            max-height: 20em;
            opacity: 1;
            transition: max-height 400ms ease, opacity 400ms ease;
            
            .button {
                display: flex;
                margin: 0;
                justify-content: center;
                align-items: center;
            }

            .notif-container {
                position: fixed;
                top: 7%;
                right: 15%;
            }
            &.closed {
                max-height: 0em;
                opacity: 0;
            }
        }
    }
}
