@use '../abstract' as *;

.button:hover {
    color: $secondary;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba($color: $primary, $alpha: 0.1);
}
::-webkit-scrollbar-thumb {
    background-color: $primary;
}
