@use '../abstract' as *;

html {
	font-size: 14px;
	font-family: $fontBody, $fontBodyFallback;
	color: $text;
}

@include headings {
	font-family: $fontHeading, $fontBodyFallback;
	font-weight: 500;
}

h1,
.h1 {
	font-size: 3em;
}

h2,
.h2 {
	font-size: 2em;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-size: 1.5em;
}

a {
	color: $primary;
	text-decoration: none;

	&:hover,
	&:focus {
		color: rgba($color: $primary, $alpha: 0.5);
	}
}

p:not([class]),
ul:not([class]),
li:not([class]) {
	max-width: 60ch;
}
